<ion-header>
  <ion-toolbar>
    <ion-title>
      Lockscreen 4 (Ionic 4)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="ion-padding-top">
      <h4>Support</h4>
      <ul>
        <li>Touch ID (tested on iOS)</li>
        <li>Face ID (tested on iOS)</li>
      </ul>
      <p>Default passcode: <code>1234</code></p>
    </div>

    <ion-list>
      <ion-item lines="none">
        <ion-label>Use Touch ID or Face ID</ion-label>
        <ion-toggle color="danger" [(ngModel)]="enableTouchIdFaceId"></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-button expand="block" color="danger" (click)="showLockscreen()">
      <ion-icon name="md-lock" slot="start"></ion-icon>SHOW LOCKSCREEN
    </ion-button>

    <ion-text color="primary" *ngIf="isCorrect">
      <p class="ion-text-center">Unlocked!</p>
    </ion-text>
  </div>
</ion-content>
